*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer,
header,
nav,
section,
main {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (min-width: 576px) {
    .container {
      width: 540px; } }
  @media only screen and (min-width: 768px) {
    .container {
      width: 720px; } }
  @media only screen and (min-width: 992px) {
    .container {
      width: 960px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1140px; } }
  @media only screen and (min-width: 1400px) {
    .container {
      width: 1320px; } }

h1 {
  color: #fff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  font-family: Mukta;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  /* 114.286% */
  text-transform: uppercase; }

h2 {
  font-family: Mukta;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  /* 107.143% */
  text-transform: uppercase; }

h3 {
  font-family: Mukta;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.8px;
  text-transform: uppercase; }

p {
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  /* 137.5% */
  letter-spacing: 0.32px; }

.btn-main {
  display: inline-flex;
  padding: 15px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: #e9262d;
  border: none;
  color: #fff;
  font-family: Mukta;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 138.889% */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-out; }
  .btn-main::before {
    background: #ab1d22;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    border-radius: 0 3px 3px 0;
    transition: 0.3s ease-out; }
  .btn-main::after {
    content: url("../img/arrow-right.svg");
    position: absolute;
    top: 30%;
    right: 12px;
    opacity: 0;
    transition: 0.3s ease-out; }
  .btn-main:hover {
    padding: 15px 75px 15px 45px; }
    .btn-main:hover::before {
      width: 30px; }
    .btn-main:hover::after {
      opacity: 1; }

.btn-add {
  display: inline-flex;
  padding: 15px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Mukta;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 138.889% */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  transition: 0.3s ease-out;
  cursor: pointer; }
  .btn-add:hover {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 2px #fff; }

.btn-sec {
  display: inline-flex;
  padding: 15px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: #03466e;
  color: #fff;
  font-family: Mukta;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 138.889% */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  transition: 0.3s ease-out;
  cursor: pointer; }
  .btn-sec:hover {
    background: #003a5d; }

.how {
  background-color: #f6f6f6;
  padding: 40px 0; }
  .how-content {
    padding: 0 15px; }
    .how-content__title {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding-bottom: 30px; }
      .how-content__title-main {
        display: flex;
        align-items: center;
        flex-basis: 100%; }
        .how-content__title-main h2 {
          white-space: nowrap;
          color: #03466e; }
        .how-content__title-main #h-line {
          content: "";
          width: 100%;
          height: 1px;
          background: #d9d9d9;
          margin-left: 15px; }
      .how-content__title-sub p {
        flex-basis: 100%;
        color: #ab1d22;
        font-family: Mukta;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
        /* 137.5% */
        letter-spacing: 0.64px;
        text-transform: uppercase;
        padding-left: 10px; }
    .how-content__items {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center; }
      .how-content__items__item {
        border-radius: 3px;
        border: 1px solid #d7d7d7;
        background: #fff;
        max-width: 330px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        .how-content__items__item:nth-child(1) {
          max-width: none; }
        .how-content__items__item-text {
          padding: 30px; }
          .how-content__items__item-text h3 {
            color: #03466e;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            /* 120% */
            letter-spacing: 0.8px;
            text-transform: uppercase; }
          .how-content__items__item-text span {
            color: #ab1d22;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
            /* 137.5% */
            letter-spacing: 0.32px; }
          .how-content__items__item-text #h-line {
            content: "";
            width: 50%;
            height: 1px;
            background: #d9d9d9;
            margin: 15px 0; }
        .how-content__items__item-contact {
          background-image: url("../img/how-img.jpg");
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-bottom: 8px;
          min-width: 330px; }
          .how-content__items__item-contact a {
            text-decoration: none; }
          .how-content__items__item-contact__text {
            padding: 30px 0;
            display: flex;
            flex-direction: column;
            gap: 30px; }
            .how-content__items__item-contact__text > * {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center; }
            .how-content__items__item-contact__text p {
              display: flex;
              white-space: nowrap; }
            .how-content__items__item-contact__text .how-name {
              font-family: Mukta;
              font-size: 20px;
              font-style: normal;
              font-weight: 800;
              line-height: 24px;
              /* 120% */
              letter-spacing: 0.4px;
              text-transform: uppercase; }
            .how-content__items__item-contact__text--dorota .how-name {
              color: #e9262d; }
            .how-content__items__item-contact__text--miroslaw .how-name {
              color: #1586c9; }
            .how-content__items__item-contact__text .how-number {
              color: #fff;
              font-family: Mukta;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 22px;
              /* 137.5% */
              letter-spacing: 0.32px;
              text-decoration-line: underline; }

@media only screen and (min-width: 768px) {
  .how-content__items__item {
    flex-wrap: nowrap; } }

@media only screen and (min-width: 992px) {
  .how h3 {
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    /* 111.765% */
    letter-spacing: 1.36px;
    text-transform: uppercase; }
  .how-content__title-main h2 {
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    /* 107.143% */
    text-transform: uppercase; }
  .how-content__title-sub p {
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    /* 123.077% */
    letter-spacing: 1.04px;
    text-transform: uppercase; }
  .how-content__items__item-text h3 {
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 1.04px; }
  .how-content__items__item-text span {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.36px; }
  .how-content__items__item-text p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.36px; } }

@media only screen and (min-width: 1400px) {
  .how-content__items__item-contact {
    background-image: url("../img/how-img-alt.jpg");
    flex-basis: 100%;
    max-width: 570px; }
    .how-content__items__item-contact__text {
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly; }
      .how-content__items__item-contact__text .how-name {
        font-size: 26px;
        line-height: 32px;
        /* 120% */
        letter-spacing: 0.52px;
        text-transform: uppercase; }
      .how-content__items__item-contact__text .how-number {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.36px; } }
