*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer,
header,
nav,
section,
main {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

button {
  border: 0; }

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media only screen and (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media only screen and (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  @media only screen and (min-width: 1400px) {
    .container {
      max-width: 1320px; } }

h1 {
  color: #fff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  font-family: Mukta;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  /* 114.286% */
  text-transform: uppercase; }

h2 {
  font-family: Mukta;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  /* 107.143% */
  text-transform: uppercase; }

h3 {
  font-family: Mukta;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.8px;
  text-transform: uppercase; }

p {
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  /* 137.5% */
  letter-spacing: 0.32px; }

.btn-main {
  display: inline-flex;
  padding: 15px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: #e9262d;
  border: none;
  color: #fff;
  font-family: Mukta;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 138.889% */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-out; }
  .btn-main::before {
    background: #ab1d22;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    border-radius: 0 3px 3px 0;
    transition: 0.3s ease-out; }
  .btn-main::after {
    content: url("../img/arrow-right.svg");
    position: absolute;
    top: 30%;
    right: 12px;
    opacity: 0;
    transition: 0.3s ease-out; }
  .btn-main:hover {
    padding: 15px 75px 15px 45px; }
    .btn-main:hover::before {
      width: 30px; }
    .btn-main:hover::after {
      opacity: 1; }

.btn-add {
  display: inline-flex;
  padding: 15px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Mukta;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 138.889% */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  transition: 0.3s ease-out;
  cursor: pointer; }
  .btn-add:hover {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 2px #fff; }

.btn-sec {
  display: inline-flex;
  padding: 15px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: #03466e;
  color: #fff;
  font-family: Mukta;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 138.889% */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  transition: 0.3s ease-out;
  cursor: pointer; }
  .btn-sec:hover {
    background: #003a5d; }

.hero {
  height: 642px;
  background-image: linear-gradient(90deg, rgba(0, 13, 20, 0.46) 4.03%, rgba(0, 37, 59, 0) 95.69%), url("../img/slider-1.png");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: 85%;
  display: flex;
  justify-content: center; }
  .hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .hero-content__text-title {
      padding-bottom: 30px; }
      .hero-content__text-title .sub {
        border-radius: 3px;
        width: 123px;
        height: 30px;
        background-color: #e9262d;
        display: flex;
        justify-content: center; }
        .hero-content__text-title .sub p {
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          text-transform: uppercase; }
    .hero-content__text-desc h2 {
      border-left: thick solid #e9262d;
      padding-left: 10px; }
    .hero-content__text-desc p {
      padding-top: 15px; }
    .hero-content__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px; }
    .hero-content h2 {
      color: white;
      font-size: 20px;
      font-weight: 700; }
    .hero-content p {
      color: white;
      font-weight: 400; }
    .hero-content__more {
      display: none;
      align-self: center; }
      .hero-content__more a {
        color: #fff;
        text-align: center;
        font-family: Mukta;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px;
        /* 156.25% */
        letter-spacing: 0.96px;
        text-transform: uppercase;
        text-decoration: none; }

@media only screen and (min-width: 992px) {
  .hero {
    height: 807px;
    box-shadow: none;
    background-image: linear-gradient(90deg, rgba(0, 13, 20, 0.76) 43.59%, rgba(0, 37, 59, 0) 61.59%), url("../img/slider-1.png"); }
    .hero-content__text-title {
      padding-bottom: 60px; }
      .hero-content__text-title h1 {
        font-size: 60px;
        width: 370px;
        line-height: 60px; }
      .hero-content__text-title .sub {
        width: 173px;
        height: 40px;
        background-color: #e9262d;
        display: flex;
        justify-content: center; }
        .hero-content__text-title .sub p {
          font-size: 25px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          text-transform: uppercase; }
    .hero-content__text-desc {
      padding: 0;
      width: 370px; }
      .hero-content__text-desc p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 138.889% */
        letter-spacing: 0.36px; }
      .hero-content__text-desc b {
        font-weight: 800; }
    .hero-content__buttons {
      align-items: baseline; } }

@media only screen and (min-width: 1400px) {
  .hero {
    background-image: linear-gradient(90deg, rgba(0, 13, 20, 0.56) 53.59%, rgba(0, 37, 59, 0) 91.59%), url("../img/slider-1.png");
    background-position: bottom; }
    .hero-content__text-title h1 {
      width: auto;
      font-size: 70px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase; }
    .hero-content__buttons {
      flex-direction: row; }
    .hero-content__more {
      display: flex; } }
