*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer,
header,
nav,
section,
main {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto; }
  @media only screen and (min-width: 576px) {
    .container {
      width: 540px; } }
  @media only screen and (min-width: 768px) {
    .container {
      width: 720px; } }
  @media only screen and (min-width: 992px) {
    .container {
      width: 960px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1140px; } }
  @media only screen and (min-width: 1400px) {
    .container {
      width: 1320px; } }

h1 {
  color: #fff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  font-family: Mukta;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  /* 114.286% */
  text-transform: uppercase; }

h2 {
  font-family: Mukta;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  /* 107.143% */
  text-transform: uppercase; }

h3 {
  font-family: Mukta;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.8px;
  text-transform: uppercase; }

p {
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  /* 137.5% */
  letter-spacing: 0.32px; }

a {
  text-decoration: none;
  color: #000;
  font-family: Mukta;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase; }

.btn-main {
  display: inline-flex;
  padding: 15px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: #e9262d;
  border: none;
  color: #fff;
  font-family: Mukta;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 138.889% */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-out; }
  .btn-main::before {
    background: #ab1d22;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    border-radius: 0 3px 3px 0;
    transition: 0.3s ease-out; }
  .btn-main::after {
    content: url("../img/arrow-right.svg");
    position: absolute;
    top: 30%;
    right: 12px;
    opacity: 0;
    transition: 0.3s ease-out; }
  .btn-main:hover {
    padding: 15px 75px 15px 45px; }
    .btn-main:hover::before {
      width: 30px; }
    .btn-main:hover::after {
      opacity: 1; }

.btn-add {
  display: inline-flex;
  padding: 15px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Mukta;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 138.889% */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  transition: 0.3s ease-out;
  cursor: pointer; }
  .btn-add:hover {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0 2px #fff; }

.btn-sec {
  display: inline-flex;
  padding: 15px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: #03466e;
  color: #fff;
  font-family: Mukta;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 138.889% */
  letter-spacing: 0.36px;
  text-transform: uppercase;
  transition: 0.3s ease-out;
  cursor: pointer; }
  .btn-sec:hover {
    background: #003a5d; }

.offer h3 {
  padding-bottom: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
  /* 125% */
  letter-spacing: 0.96px;
  text-transform: uppercase; }

.offer-content {
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .offer-content__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 30px; }
    .offer-content__title-main {
      display: flex;
      align-items: center;
      flex-basis: 100%; }
      .offer-content__title-main h2 {
        white-space: nowrap;
        color: #03466e; }
      .offer-content__title-main #h-line {
        content: "";
        width: 100%;
        height: 1px;
        background: #d9d9d9;
        margin-left: 15px; }
    .offer-content__title-sub p {
      flex-basis: 100%;
      color: #ab1d22;
      font-family: Mukta;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 22px;
      /* 137.5% */
      letter-spacing: 0.64px;
      text-transform: uppercase;
      padding-left: 10px; }
  .offer-content__items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    min-height: 608px; }
    .offer-content__items__item {
      border-radius: 3px;
      max-width: 330px;
      min-height: 430px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: stretch; }
      .offer-content__items__item:nth-child(1) {
        background-image: url("../img/offer-dark-1.jpg"); }
      .offer-content__items__item:nth-child(2) {
        background-image: url("../img/offer-dark-2.jpg"); }
      .offer-content__items__item:nth-child(3) {
        background-image: url("../img/offer-dark-3.jpg"); }
      .offer-content__items__item:nth-child(4) {
        background-image: url("../img/offer-dark-4.jpg"); }
      .offer-content__items__item:nth-child(5) {
        background-image: url("../img/offer-dark-5.jpg"); }
      .offer-content__items__item__text {
        margin: 30px;
        color: #fff;
        font-family: Mukta;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 137.5% */
        letter-spacing: 0.32px; }
        .offer-content__items__item__text ul {
          list-style: inside;
          padding-left: 5px; }
      .offer-content__items__item-button {
        margin: 30px 20px;
        text-decoration: none; }
  .offer-content-popup {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    overflow: scroll; }
    .offer-content-popup:target {
      visibility: visible;
      opacity: 1; }
    .offer-content-popup__item {
      background: white;
      padding: 30px; }
      .offer-content-popup__item-image {
        display: none; }
      .offer-content-popup__item-text b {
        font-weight: 700; }
      .offer-content-popup__item-text-nav__link {
        display: inline-block;
        font-weight: 700;
        transition: 0.5s;
        margin: 10px 0; }
        .offer-content-popup__item-text-nav__link:first-child {
          padding-top: 0; }
        .offer-content-popup__item-text-nav__link:hover {
          border-bottom: 3px solid #e9262d;
          transition: 0.1s ease-out; }
      .offer-content-popup__item-text-nav .active {
        border-bottom: 3px solid #e9262d; }
      .offer-content-popup__item-text-info {
        display: flex;
        flex-direction: column;
        gap: 20px; }
        .offer-content-popup__item-text-info li {
          display: flex;
          gap: 20px; }
      .offer-content-popup__item-text .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333; }
      .offer-content-popup__item-text-line {
        width: 100%;
        height: 1px;
        background: #e9e9e9;
        margin-bottom: 30px; }

@media only screen and (min-width: 768px) {
  .offer-content__items {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
    width: 100vw; } }

@media only screen and (min-width: 992px) {
  .offer h3 {
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    /* 111.765% */
    letter-spacing: 1.36px;
    text-transform: uppercase; }
  .offer-content__title-main h2 {
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    /* 107.143% */
    text-transform: uppercase; }
  .offer-content__title-sub p {
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    /* 123.077% */
    letter-spacing: 1.04px;
    text-transform: uppercase; }
  .offer-content__items__item p {
    visibility: hidden;
    transform: translateY(15px);
    transition: 0.3s ease-out;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
    letter-spacing: 0.36px; }
  .offer-content__items__item ul {
    visibility: hidden;
    transform: translateY(15px);
    transition: 0.3s ease-out;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
    letter-spacing: 0.36px; }
  .offer-content__items__item a {
    visibility: hidden;
    transform: translateY(15px);
    transition: 0.3s ease-out; }
  .offer-content__items__item:hover {
    cursor: pointer; }
    .offer-content__items__item:hover p {
      visibility: visible;
      transform: none; }
    .offer-content__items__item:hover ul {
      visibility: visible;
      transform: none; }
    .offer-content__items__item:hover a {
      visibility: visible;
      transform: none; } }

@media only screen and (min-width: 1400px) {
  .offer-content__items__item {
    max-width: 350px; } }
