.about {
  scroll-margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  &-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    align-items: center;

    &__title {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      &-main {
        display: flex;
        align-items: center;
        flex-basis: 100%;
        h2 {
          white-space: nowrap;
          color: $color-primary-1;
        }

        #h-line {
          content: "s";
          width: 100%;
          height: 1px;
          background: #d9d9d9;
          margin-left: 15px;
        }
      }

      &-sub {
        p {
          flex-basis: 100%;
          color: $color-secondary-1;
          font-family: Mukta;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 22px; /* 137.5% */
          letter-spacing: 0.64px;
          text-transform: uppercase;
          padding-left: 10px;
        }
      }
    }
    &__bios {
      display: flex;
      flex-direction: column;
      padding: 30px 0;
      gap: 40px;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        & > * {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
        h3 {
          color: $color-secondary-1;
          font-size: 26px;
        }
        &:nth-child(even) {
          h3 {
            color: $color-primary-1;
          }
        }
      }
    }
  }
}
@include rwd(l) {
  .about {
    &-content {
      &__title {
        &-main {
          h2 {
            font-size: 42px;
            font-style: normal;
            font-weight: 800;
            line-height: 45px; /* 107.143% */
            text-transform: uppercase;
          }
        }

        &-sub {
          p {
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px; /* 123.077% */
            letter-spacing: 1.04px;
            text-transform: uppercase;
          }
        }
      }
      &__bios {
        width: 100%;
        #dorota-bio-img {
          content: url("../img/dorota-bio-2.jpg");
        }
        #miroslaw-bio-img {
          content: url("../img/miroslaw-bio-2.jpg");
        }
        &__item {
          justify-content: space-between;
          flex-direction: row;
          align-items: center;

          img {
            transform: scale(0.8);
          }

          &:nth-child(even) {
            flex-direction: row-reverse;
          }

          p {
            line-height: 25px;
          }

          b {
            font-weight: 700;
          }

          &__text {
            padding: 0 1rem;
          }
        }
      }
    }
  }
}

@include rwd(xl) {
  .about {
    &-content {
      &__bios {
        &__item {
          img {
            transform: scale(0.9);
          }
          &__text {
            padding: 0 5rem;
          }
        }
      }
    }
  }
}
@include rwd(xxl) {
  .about {
    scroll-margin-top: 149px;
    padding-top: 80px;
    padding-bottom: 80px;
    &-content {
      &__title {
        &-main {
          h2 {
            font-size: 56px;
            font-style: normal;
            font-weight: 800;
            line-height: 60px; /* 107.143% */
            text-transform: uppercase;
          }
        }

        &-sub {
          p {
            font-size: 26px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px; /* 123.077% */
            letter-spacing: 1.04px;
            text-transform: uppercase;
          }
        }
      }
      &__bios {
        &__item {
          img {
            transform: none;
          }
          &__text {
            padding: 0 8rem;
          }
        }
      }
    }
  }
}
