@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-135px * 10));
  }
}

@keyframes scroll-large {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-270px * 10));
  }
}

.carousel {
  height: 170px;
  display: flex;
  align-items: center;
  &__content {
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    &__track {
      display: flex;
      animation: scroll 40s linear infinite;
      width: calc(135px * 10);
      &-item {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          width: 135px;
        }
      }
    }
  }
}

@include rwd(l) {
  .carousel {
    height: 325px;
    &__content {
      &__track {
        width: calc(270px * 10);
        animation: scroll-large 40s linear infinite;
        &-item {
          padding: 60px;
          img {
            width: 270px;
          }
        }
      }
    }
  }
}
