.hero {
  a {
    text-decoration: none;
  }
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: 85%;
  display: flex;
  justify-content: center;
  margin-top: 72px;
  scroll-margin-top: 149px;
  position: relative;

  &-background {
    position: absolute;
    height: 100%;
    width: 100%;
    &__item {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      transition: 1s linear;
    }
    #slider-1 {
      background-image: url("../img/slider-1.jpg");
      opacity: 1;
    }

    #slider-2 {
      background-image: url("../img/slider-2.jpg");
      opacity: 0;
    }

    #slider-3 {
      background-image: url("../img/slider-3.jpg");
      opacity: 0;
    }

    #slider-4 {
      background-image: url("../img/slider-4.jpg");
      opacity: 0;
    }
  }

  &-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-evenly;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;

    &__text {
      &-title {
        padding-bottom: 30px;
        .sub {
          border-radius: 3px;
          width: 123px;
          height: 30px;
          background-color: $color-secondary-2;
          display: flex;
          justify-content: center;
          p {
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
          }
        }
      }
      &-desc {
        h2 {
          border-left: thick solid $color-secondary-2;
          padding-left: 10px;
        }
        p {
          padding-top: 15px;
        }
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    h2 {
      color: white;
      font-size: 20px;
      font-weight: 700;
    }
    p {
      color: white;
      font-weight: 400;
    }

    &__more {
      display: none;
      align-self: center;
      position: absolute;
      bottom: 10px;

      a {
        color: #fff;
        text-align: center;
        font-family: Mukta;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 25px; /* 156.25% */
        letter-spacing: 0.96px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}

@include rwd(l) {
  .hero {
    box-shadow: none;
    background-position: 100% 0%;
    margin-top: 100px;
    &-content {
      &__text {
        &-title {
          h1 {
            font-size: 60px;
            line-height: 60px;
          }
          .sub {
            width: 173px;
            height: 40px;
            background-color: $color-secondary-2;
            display: flex;
            justify-content: center;
            p {
              font-size: 25px;
              font-style: normal;
              font-weight: 300;
              line-height: normal;
              text-transform: uppercase;
            }
          }
        }
        &-desc {
          padding: 0;
          width: 50%;
        }
      }
      &__buttons {
        align-items: baseline;
      }
    }
  }
}

@include rwd(xl) {
  .hero {
    &-content {
      &__more {
        display: flex;
      }
    }
  }
}

@include rwd(xxl) {
  .hero {
    height: 807px;
    &-content {
      &__text {
        &-title {
          h1 {
            font-size: 70px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
          }
        }
        &-desc {
          p {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 138.889% */
            letter-spacing: 0.36px;
          }
          b {
            font-weight: 800;
          }
        }
      }
      &__buttons {
        flex-direction: row;
      }
    }
  }
}
