.offer {
  &__content {
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding-bottom: 30px;
      &-main {
        display: flex;
        align-items: center;
        flex-basis: 100%;
        h2 {
          white-space: nowrap;
          color: $color-primary-1;
        }

        #h-line {
          content: "";
          width: 100%;
          height: 1px;
          background: #d9d9d9;
          margin-left: 15px;
        }
      }
      &-sub {
        p {
          flex-basis: 100%;
          color: $color-secondary-1;
          font-family: Mukta;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 22px; /* 137.5% */
          letter-spacing: 0.64px;
          text-transform: uppercase;
          padding-left: 10px;
        }
      }
    }
    &__items {
      width: 100vw;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 10px;
      min-height: 608px;
      &__item {
        border-radius: 3px;
        max-width: 330px;
        min-height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;

        &:nth-child(1) {
          background-image: url("../img/offer-dark-1.jpg");
        }
        &:nth-child(2) {
          background-image: url("../img/offer-dark-2.jpg");
        }
        &:nth-child(3) {
          background-image: url("../img/offer-dark-3.jpg");
        }
        &:nth-child(4) {
          background-image: url("../img/offer-dark-4.jpg");
        }
        &:nth-child(5) {
          background-image: url("../img/offer-dark-5.jpg");
        }
        &__text {
          margin: 30px;
          color: #fff;
          font-family: Mukta;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 137.5% */
          letter-spacing: 0.32px;
          ul {
            list-style: inside;
            padding-left: 5px;
          }
          h3 {
            padding-bottom: 20px;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: 30px; /* 125% */
            letter-spacing: 0.96px;
            text-transform: uppercase;
          }
        }
        &-button {
          margin: 30px 20px;
          text-decoration: none;
        }
      }
    }
  }
}
@include rwd(m) {
  .offer {
    &__content {
      &__items {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}

@include rwd(l) {
  .offer {
    &__content {
      &__title {
        &-main {
          h2 {
            font-size: 56px;
            font-style: normal;
            font-weight: 800;
            line-height: 60px; /* 107.143% */
            text-transform: uppercase;
          }
        }

        &-sub {
          p {
            font-size: 26px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px; /* 123.077% */
            letter-spacing: 1.04px;
            text-transform: uppercase;
          }
        }
      }
      &__items {
        &__item {
          h3 {
            font-size: 34px;
            font-style: normal;
            font-weight: 800;
            line-height: 38px; /* 111.765% */
            letter-spacing: 1.36px;
            text-transform: uppercase;
          }
          p {
            visibility: hidden;
            transform: translateY(15px);
            transition: 0.3s ease-out;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 138.889% */
            letter-spacing: 0.36px;
          }
          ul {
            visibility: hidden;
            transform: translateY(15px);
            transition: 0.3s ease-out;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 138.889% */
            letter-spacing: 0.36px;
          }
          a {
            visibility: hidden;
            transform: translateY(15px);
            transition: 0.3s ease-out;
          }

          &:hover {
            cursor: pointer;
            p {
              visibility: visible;
              transform: none;
            }
            ul {
              visibility: visible;
              transform: none;
            }
            a {
              visibility: visible;
              transform: none;
            }
          }
        }
      }
    }
  }
}

@include rwd(xxl) {
  .offer {
    &__content {
      &__items {
        &__item {
          max-width: 350px;
        }
      }
    }
  }
}
