.offer {
  h3 {
    padding-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px; /* 125% */
    letter-spacing: 0.96px;
    text-transform: uppercase;
  }
  &-content {
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding-bottom: 30px;
      &-main {
        display: flex;
        align-items: center;
        flex-basis: 100%;
        h2 {
          white-space: nowrap;
          color: $color-primary-1;
        }

        #h-line {
          content: "";
          width: 100%;
          height: 1px;
          background: #d9d9d9;
          margin-left: 15px;
        }
      }
      &-sub {
        p {
          flex-basis: 100%;
          color: $color-secondary-1;
          font-family: Mukta;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 22px; /* 137.5% */
          letter-spacing: 0.64px;
          text-transform: uppercase;
          padding-left: 10px;
        }
      }
    }
    &__items {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 10px;
      min-height: 608px;
      &__item {
        border-radius: 3px;
        max-width: 330px;
        min-height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;

        &:nth-child(1) {
          background-image: url("../img/offer-dark-1.jpg");
        }
        &:nth-child(2) {
          background-image: url("../img/offer-dark-2.jpg");
        }
        &:nth-child(3) {
          background-image: url("../img/offer-dark-3.jpg");
        }
        &:nth-child(4) {
          background-image: url("../img/offer-dark-4.jpg");
        }
        &:nth-child(5) {
          background-image: url("../img/offer-dark-5.jpg");
        }
        &__text {
          margin: 30px;
          color: #fff;
          font-family: Mukta;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 137.5% */
          letter-spacing: 0.32px;
          ul {
            list-style: inside;
            padding-left: 5px;
          }
        }
        &-button {
          margin: 30px 20px;
          text-decoration: none;
        }
      }
    }
    &-popup {
      visibility: hidden;
      opacity: 0;

      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      overflow: scroll;
      &:target {
        visibility: visible;
        opacity: 1;
      }
      &__item {
        background: white;
        padding: 30px;
        &-image {
          display: none;
        }
        &-text {
          b {
            font-weight: 700;
          }
          &-nav {
            &__link {
              display: inline-block;
              font-weight: 700;
              transition: 0.5s;
              margin: 10px 0;
              &:first-child {
                padding-top: 0;
              }
              &:hover {
                border-bottom: 3px solid $color-secondary-2;
                transition: 0.1s ease-out;
              }
            }
            .active {
              border-bottom: 3px solid $color-secondary-2;
            }
          }
          &-info {
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
              display: flex;
              gap: 20px;
            }
          }
          .close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
          }
          &-line {
            width: 100%;
            height: 1px;
            background: #e9e9e9;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
@include rwd(m) {
  .offer {
    &-content {
      &__items {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 10px;

        width: 100vw;
      }
    }
  }
}

@include rwd(l) {
  .offer {
    h3 {
      font-size: 34px;
      font-style: normal;
      font-weight: 800;
      line-height: 38px; /* 111.765% */
      letter-spacing: 1.36px;
      text-transform: uppercase;
    }
    &-content {
      &__title {
        &-main {
          h2 {
            font-size: 56px;
            font-style: normal;
            font-weight: 800;
            line-height: 60px; /* 107.143% */
            text-transform: uppercase;
          }
        }

        &-sub {
          p {
            font-size: 26px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px; /* 123.077% */
            letter-spacing: 1.04px;
            text-transform: uppercase;
          }
        }
      }
      &__items {
        &__item {
          p {
            visibility: hidden;
            transform: translateY(15px);
            transition: 0.3s ease-out;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 138.889% */
            letter-spacing: 0.36px;
          }
          ul {
            visibility: hidden;
            transform: translateY(15px);
            transition: 0.3s ease-out;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px; /* 138.889% */
            letter-spacing: 0.36px;
          }
          a {
            visibility: hidden;
            transform: translateY(15px);
            transition: 0.3s ease-out;
          }

          &:hover {
            cursor: pointer;
            p {
              visibility: visible;
              transform: none;
            }
            ul {
              visibility: visible;
              transform: none;
            }
            a {
              visibility: visible;
              transform: none;
            }
          }
        }
      }
    }
  }
}

@include rwd(xxl) {
  .offer {
    &-content {
      &__items {
        &__item {
          max-width: 350px;
        }
      }
    }
  }
}
